:root {
  --primary-color: #477E99;
  --primary-color-highlight: #5698b9;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(assets/fonts/RobotoCondensed-Regular.ttf)
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  /* overflow-x: hidden; */
}

#top {
  position: absolute;
  top: 0;
  left: 0;
}

#to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
  display: flex;
  transition: 0.2s;
}

#to-top:hover {
  background-color: var(--primary-color-highlight);
}

#to-top img {
  width: 60%;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
  position: relative;
  top: -2px;
}

header {
  width: 100%;
  position: fixed;
}

header #product-info {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  text-align: center;
}

header #product-info img {
  width: 45%;
  margin: 10px;
}

header .dropdown-menu {
  background-color: #e0e0e0;
  margin: 50px 0 30px;
  padding: 15px;
}

header .dropdown-menu label {
  display: block;
  cursor: pointer;
  background: url(assets/down-arrow-key-black.png) no-repeat left center;
  background-size: contain;
  padding: 2px 0 2px 35px;
  text-transform: uppercase;
}

header .dropdown-menu input:checked ~ label {
  background-image: url(assets/up-arrow-key-black.png);
}

header .dropdown-menu input[type="checkbox"] {
  display: none;;
}

header .dropdown-menu input:checked ~ #nav-bar {
  height: 100%;
}

header .dropdown-menu #nav-bar {
  height: 0;
  overflow: hidden;
}

header .dropdown-menu #nav-bar ul {
  padding: 0;
  /* padding: 10px; */
  /* margin: 50px 0 30px; */
  /* background-color: #e0e0e0; */
}

header .dropdown-menu #nav-bar ul li {
  list-style-type: none;
}

header .dropdown-menu #nav-bar ul li a {
  display: block;
  text-align: center;
  padding: 15px;
  color: #555;
  text-decoration: none;
  border-top: 1px solid #ccc;
}

header .dropdown-menu > a {
  background-color: transparent;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 3px 15px;
  position: absolute;
  top: 63px;
  right: 15px;
  transition: background-color 0.2s, color 0.2s;
}

header .dropdown-menu > a:hover {
  background-color: var(--primary-color);
  color: #fff
}

main {
  padding-top: 130px;
}

main .welcome-text * {
  text-align: center;
  margin: 0;
}

main .welcome-image img {
  width: 100%;
  margin: 20px auto;
}

main .welcome-badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

main .welcome-badges * {
  padding: 5px;
}

main p {
  line-height: 1.8em;
  margin: 12px 30px;
}

main .intro-text {
  margin-top: 50px;
}

main .intro-image img {
  width: 100%;
  margin: 30px auto 0;
}

main #product-features {
  margin: 50px 25px 0;
}

main h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.7em;
}

main #product-features .container {
  margin: 0 auto;
}

main #product-features .container div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 20px;
}

main #product-features .container div img {
  width: 20%;
  margin-right: 25px;
}

main #product-snapshot {
  margin: 60px 0 0;
}

main #product-snapshot h2 {
  margin: 0 25px;
}

main #product-snapshot .table {
  margin: 50px 25px 60px;
  overflow-x: scroll;
}

main #product-snapshot table * {
  padding: 20px;
  text-align: center;
}

main #product-snapshot table thead {
  background-color: var(--primary-color);
  color: #fff;
}

main #product-snapshot table tbody tr:nth-child(odd) {
  background-color: #ededed;
}

main #product-snapshot table tbody tr:nth-child(even) {
  background-color: #e5e5e5;
}

main #video-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

main #video-container iframe {
  width: 100%;
}

main #gallery {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

main #gallery img {
  width: 48%;
}

main #product-warranty img {
  margin-top: 70px;
  width: 100%;
}

main #product-warranty h2 {
  margin: 0 25px;
}

aside {
  margin-top: 60px;
  padding: 60px 25px 70px;
  text-align: center;
  background-color: #ededed;
}

aside h2 {
  margin: 0 0 15px;
}

aside form {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

aside form * {
  height: 35px;
  margin: 0;
  padding: 0;
  outline: none;
  /* border-radius: 5px; */
  font-size: 0.9em;
  box-sizing: border-box;
  padding: 10px 15px;
}

aside form input[type="email"] {
  width: 80%;
}

aside form input[type="email"]:focus {
  border-color: var(--primary-color);
}

aside form input[type="submit"] {
  /* margin-top: 10px; */
  border: 0;
  background-color: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

aside form input[type="submit"]:hover {
  background-color: var(--primary-color-highlight);
}

footer {
  padding: 10px 25px 20px;
  font-size: 0.9em;
  background-color: var(--primary-color);
  color: #eaeaea
}